body, html{
	padding-top: 1%;
	padding-left: 20%;
	font-family: 'verdana';
}

.cadre{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	border-color: none;
	min-width: 200px;
	background-color: white;
}

header{
    text-align: center;
}

.text{
	font-style: normal;
}

.in{
	width: 97%;
    height: 30px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
}

hr{
	color: #f2f2f2;
	opacity: 0.1;
	margin-right: -10px;
	margin-left: -10px;
}

.btn{
	text-align: right;
}

#bouton{
	background-color: #2196f3;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

#bouton:hover{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}

#check{
	margin-left: 20%;
}

#check:hover{
	cursor: pointer;
}

#passfield{
	position: relative;
}

span{
	position: absolute;
	right: 0;
	top: 10%;
	padding: 5px;
	background-color: white;
}

#eye:hover{
	cursor: pointer;
}
